html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #23395B;
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


h1 {
  font-size: 4rem;
  color: white;
}


.main {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  height: 100vh;
  width: 1000px;
  padding: 5rem;
  gap: 10px;
}

.left-container {
  grid-column: 1 / 2;
  display: flex;
  height: 100vh;
  max-width: 400px;
  flex-direction: column;
  gap: 20px;

}

.modal { 
  grid-column: 2 / 3;
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #FFFC47;
  width: 100%;
  max-height: 500px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  visibility: hidden;
  justify-content: center;
} 

.toggle {
  visibility: visible;
}

.close-btn-container {
  position: relative;
  bottom: 80px;
  right: 10px;
  align-self:flex-end;
  justify-self: center;
}

.closeButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #23395B;
}

.modal-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #23395B;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  align-self: center;
  justify-self: center;
  text-align: center;

}

form {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 500px;
  width: 60%;
  padding: 2rem;
  color: #23395B;
  font-weight: 900;
  align-items: center;
  justify-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

input {
  width: 100;
  border-radius: 5px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.author-container {
  grid-column: 2 / 3;
}

.pages-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}


.newBookBtn {
  background-color: #ED6A5A;
  width: 150px;
  height: 75px;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  border: 2px solid white;
}

.modal-bottom {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  background-color: #23395B ;
  color: white;
  width: 75px;
  height: 50px;
  border: 2px solid white;
  border-radius: 5px;

}

.libraryDiv {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 800px;
  row-gap: 5px;
}

.userBookDiv {
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 10.5rem;
  height: 5rem;
  border-radius: 10px;
  color: black;
  font-weight: 900;
  font-size: .5rem;
  border: 2px solid #ED6A5A;
  background-color: #ffc09f;
  padding: 5px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.userBookDiv:hover {
  transform: scale(2);
}

.titleRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.authorRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.pagesRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.row4 {
  display: grid;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.userBookDivTitle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.userBookDivAuthor {
  grid-column: 1 / 2;
  grid-row: 2 span / 3;
}
.userBookDivPages {
  grid-column: 1 / 2;
  grid-row: 3 span / 4;
}

.userBookDivTitleValue {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.userBookDivAuthorValue {
  grid-column: 2 / 3;
  grid-row: 2 span / 3;
}
.userBookDivPagesValue {
  grid-column: 2 / 3;
  grid-row: 3 span / 4;
}
.removeButtonContainer{
  grid-column: 3 / 4;
  grid-row: 4 span / 5;
  display: flex;
  justify-content:center;
  align-items: center;
}

.removeButton {
  width: 50px;
  height: 25px;
  background-color: #f4978e;
  border-radius: 5px;
}

.checkboxDiv {
  display: flex;
  font-size: .5rem;
  align-items: center;
}